package openvpn

config openvpn homeserver
	option enabled 0
	option dev tun
	option dev_type tun
	option port 1194
	# 【一键VPN服务】的服务端就proto和oldhash不一样
	# tcp 和 udp 只有 proto 不同
	# 不是IPV6时改为【tcp4-server】
	# tcp4-server tcp6-server udp4 udp6
	option proto 'tcp6-server'
	# 不是IPV6时改为【1001】
	# IPV6用【1011】
	option oldhash '1011'
	option ca /etc/openvpn/ca.crt
	option cert /etc/openvpn/server.crt
	option key /etc/openvpn/server.key
	option dh /etc/openvpn/dh.pem
	option server "10.0.14.0 255.255.255.0"
    # 用于在控制通道上添加额外的HMAC身份验证层，以确保客户端和服务器之间的通信安全
    # 0 表示密钥方向参数，指定了使用哪个密钥文件，是默认值，表示ta.key文件用于发送和接收数据包
    # 1 表示密钥仅用于接收数据包。在这种情况下，如果客户端具有key-direction 1，服务器具有key-direction 0，它允许服务器对客户端进行身份验证，客户端也可以对服务器进行身份验证。这在某些情况下很有用，其中希望客户端和服务器使用不同密钥的情况。
    option tls_auth '/etc/openvpn/ta.key 0'
    option log '/tmp/server-openvpn.log'
    option client_config_dir '/etc/openvpn/ccd'
	option ifconfig_pool_persist /tmp/ipp.txt
    option tun_mtu '1420'
    option mode 'server'
    option tls_server '1'
    option cipher 'AES-256-GCM'
    option auth 'SHA256'
    option topology 'subnet'
	option keepalive "10 120"
	option client_to_client '1'
	option persist_key 1
	option persist_tun 1
	option user nobody
	option status '/tmp/server-status.log'
	option verb 3
	
config openvpn paclient1405
	option enabled 0
	option config /etc/openvpn/paclient1405.ovpn
